@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";

*{
     font-family: "Plus Jakarta Sans", sans-serif;
}

@theme{
    --color-primary: #2563EB;           /* This use for define custom color theme because we can use this without using this hashcode */
    --color-primary-dull: #1F58D8;  
    --color-light: #F1F5F9;
    --color-borderColor: #c4c7d2;
}